body {
    background-color: #F7F15A;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #EE1000;
}

h2, h3 {
    margin-bottom: 7.5vh;
}

#karty, #postup, #referencie {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#karty img, #postup img, #referencie img {
    width: 50vw;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    height: 12.5vh;
    width: 100vw;
    align-items: center;
    background-color: #F7F7F7;
}

header div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50vw;
    font-size: 1.25em;
    font-weight: bold;
}

header img {
    height: 5vw;
    margin: 0 2vw 0 5vw;
}

header button {
    width: 20vw;
    height: 7.5vh;
    margin-right: 5vw;
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-size: 1.2em;
    text-transform: uppercase;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 15vw;
}

main img {
    width: 30vw;
}

h1 {
    font-size: 4em;
    margin-bottom: 10vh;
}

h2 {
    font-size: 2.75em;
}

h3 {
    font-size: 2.5em;
}

h4 {
    font-size: 3em;
}

h5 {
    font-size: 2.5em;
    text-transform: uppercase;
}

section {
    margin-top: 20vh;
}

section p {
    font-size: 1.25em;
}

#top2 p {
    font-size: 1.4em;
    margin-bottom: 15vh;
}

#top3 p {
    margin-bottom: 5vh;
}

#karty {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 1em;
    min-height: 50vh;
    align-items: center;
    justify-items: center;
    margin-top: 5vh;
}

#karty h4 {
    grid-area: 1/2/2/3;
}

#karty a:first-of-type {
    grid-area: 2/1/3/2;
}

#karty a:nth-of-type(2) {
    grid-area: 2/2/3/3;
}

#karty a:last-of-type {
    grid-area: 2/3/3/4;
}

#karty a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15vw;
    height: 45vh;
    background-color: #f7f7f7;
    padding: 5vh 2vw;
    border-radius: 15px;
    text-decoration: none;
    color: black;
}

#karty img {
    width: 12.5vw;
}

#karty article h4 {
    font-size: 1.5em;
}

#karty article p {
    margin: 0;
    font-size: 1em;
}




#postup_container {
    display: flex;
    flex-direction: column;
    text-align: center; 
}

#postup_container #last_para {
    margin: 0 15%;
}

#postup_container #postup_uvod {
    font-weight: bold;
    margin-bottom: 5%;
}

#postup_container #postup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10% 5%;
}

#postup_container #postup .postup_body {
    width: 25%;
    text-align: left;
}

#postup_container #postup svg {
    width: 1em;
    height: 1em;
    position: relative;
    top: 0;
    left: -5%;
}

#postup_container #postup svg:nth-of-type(2) {
    left: -6%;
}

#postup_container #postup svg:nth-of-type(3) {
    left: -7%;
}



#referencie {
    text-align: center;
}

#referencie h5 {
    font-size: 1em;
    color: black;
    margin-bottom: 15vh;
}

#referencie a {
    display: block;
    font-size: 3em;
    text-transform: uppercase;
    color: #EE1000;
    text-decoration: none;
}

footer {
    text-align: center;
    font-size: 0.75em;
    margin-bottom: 1em;
}